# dependencies
/node_modules

# misc
.DS_Store
.env
webpack.dev.config.js
sass.sh
/dev_json/google_fic.json
/dev_json/google_middle.json
/dev_json/google_nonfic.json
/dev_json/google_series.json
/dev_json/nyt_fic.json
/dev_json/nyt_nonfic.json
/dev_json/nyt_middle.json
/dev_json/nyt_series.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
